/*
  nice orange color #f2951d
  black color #282828
  grey color #5E5E5E
  white color #F8F8F8
*/

body {
  width: 80vw;
  min-width: 800px;
  margin: 0 auto;
  margin-bottom: 10vh;

  background-image: url(rsc/seigaiha.png);
  background-repeat: repeat;

  font-family: "Fira Sans";
}

/*********************
*
* BANNER
*
********************/

header {
  width: 66.6%;
  background-color: #282828;
  margin: 0 auto;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

pre#banner {
  text-align: center;
  padding: 2vh 0;
  background-color: #282828;
  color: #F8F8F8;
}

/*********************
*
* MAIN FLEX CONTAINER
*
********************/

.flex-container {
  display: flex;
  margin: 1vh 0;
}

h1.column-header {
  background-color: #282828;
  color: #F8F8F8;
  padding: 1vh 0;
  margin: 0;
  margin-bottom: 1vh;
  text-align: center;
  font-size: x-large;
}

/*********************
 *
 * NAVIGATION
 *
 ********************/

.navbar-container {
  flex: 1;
}

nav#navbar {
  padding-right: 0.5vw;
}

#navbar > ul {
  list-style-type: none;
  margin: 1vh 0;
  padding: 0;
}

li.nav-item a {
  display: block;
  background-color: #f2951d;
  padding: 1vh 0 1vh 0.5vw;
  margin: 0;
  margin-bottom: 0.5vh;
  text-decoration: none;
  color: #000;
}

li.nav-item a:hover {
  background-color: #282828;
  color: #F8F8F8;
}

/*********************
 *
 * MAIN WIKI ENTRY
 *
 ********************/

main#wiki-entry-container {
  flex: 4;
  background-color: #F8F8F8;
}

/* INTRODUCTION */

section.intro {
  margin: 2vh 0;
  overflow: hidden;
}

#toc-container {
  border: 1px solid black;
  margin: 0 1vw;
  width: 30%;
  float: left;
}

h1.toc-header {
  font-size: large;
  margin-bottom: 0;
}

aside#toc {
  padding: 1vh 1vw;
}

#toc a {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 0.25vh;
  text-decoration: none;
  color: #5E5E5E;
}

#toc > h2, #toc > h3{
  font-size: large;
  background-color: unset;
  margin: 0;
  padding: 0;
}

#toc > h3 {
  margin-left: 1vw;
}

/* ARTICLE BODY */

section.article-body {}

section.article-body > h2, section.article-body > h3, section.article-body > h4 {
  background-color: #eee;
  padding: 0.5vh 0 0.5vh 0.5vw;
  margin: 0;
  margin-bottom: 1%;
}

p {
  padding: 0 0.5vw;
  margin: 0;
  margin-bottom: 1vh;
}

.code-snippet {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f2951d;
  color: #666;
  page-break-inside: avoid;
  font: 14px/16px "Courier New";
  text-align: left;
  line-height: 1.0;
  margin-bottom: 1.6em;
  max-width: 100%;
  padding: 1.5vh 0.5vw;
  display: block;
  display: block;
  word-wrap: break-word;
  display: block;
  margin-left: 2vw;
  overflow: auto;
  overflow-x: auto;
  white-space: pre-wrap;
}

code {
  background-color: #f4f4f4;
  color: red;
  padding: 0px 3px 0px 3px;
}

figure {
  border: 1px solid black;
  padding: 2vh 1vw;
  margin: 2vh 1vw;
}

figcaption {
  margin: 1vh auto;
  font-style: italic;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

/*********************
 *
 * CALENDAR
 *
 ********************/

.calendar-container {
  flex: 1;
}

aside#calendar {
  padding-left: 0.5vw;
  background-color: #F8F8F8;
}

/*********************
 *
 * OTHER
 *
 ********************/

.temp {
  background-color: #f2951d;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  text-align: center;
}
