:root{
  --orange: #f2951d;
  --black:  #282828;
  --grey:   #5E5E5E;
  --lgrey:  #F4F4F4;
  --mgrey:  #DDDDDD;
  --dgrey:  #666666;
  --blue:   #4D88FF;
  --red:    #FF4D4D;
  --pink:   #FFEAE6;
  --white:  #F8F8F8;
  --bwhite:  #FFFFFF;
  --yellow: #FFFF00;
  --purple: #631296;
}
