.navbar-container {
  padding-right: 0.5vw;
}

nav#navbar {
}

#navbar > ul#nav-items {
  list-style-type: none;
  margin: 1vh 0;
  padding: 0;
}

li.nav-item a {
  display: block;
  background-color: var(--orange);
  padding: 1vh 0 1vh 0.5vw;
  margin: 0;
  margin-bottom: 0.5vh;
  text-decoration: none;
  font-size: x-large;
  color: var(--black);
}

li.nav-item a:hover {
  background-color: var(--black);
  color: var(--white);
}
